<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookstore.app.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.bookstore.app.activity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bookstore.app.activity.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.bookstore.app.base.BookStoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.bookstore.app.activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bookstore.app.activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AdminHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualAgentDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddAgentActivity"
            android:label="Create Agent" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddTeacherActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddBookActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.BookListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.TeacherListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualBookDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualJobDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.CreateJobActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentIndividualJobDetailsActivity"
            android:label="Job Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentMyProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.DonationListActivity"
            android:label="Profile" >
        </activity>

        <receiver
            android:name="com.bookstore.app.base.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.bookstore.app.activity" />
            </intent-filter>
        </receiver>

        <service android:name="com.bookstore.app.base.GcmIntentService" />
        <service
            android:name="com.bookstore.app.base.BookStoreService"
            android:enabled="true" >
        </service>
    </application>

</manifest>