<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookstore.app.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.bookstore.app.activity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bookstore.app.activity.permission.C2D_MESSAGE" />

    <application
        android:name="com.bookstore.app.base.BookStoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />
        <!-- Debug Key -->
        <!--
             <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC4rKY300r_9VlHIv-pgXglCzeXDrks2KU" />
        -->
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC4rKY300r_9VlHIv-pgXglCzeXDrks2KU" />
        -->


        <!-- Relaease Key -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC4rKY300r_9VlHIv-pgXglCzeXDrks2KU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.bookstore.app.activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bookstore.app.activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AdminHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualAgentDetailsActivity"
            android:label="Agent Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddAgentActivity"
            android:configChanges="orientation"
            android:label="Create Agent"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddTeacherActivity"
            android:label="Create Teacher" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddBookActivity"
            android:configChanges="orientation"
            android:label="Create Book"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentListActivity"
            android:label="Agent List" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.BookListActivity"
            android:label="Book List" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.TeacherListActivity"
            android:label="Teacher List" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualBookDetailsActivity"
            android:label="Book Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualJobDetailsActivity"
            android:label="Job Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.CreateJobActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentIndividualJobDetailsActivity"
            android:label="Job Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentMyProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.DonationListActivity"
            android:label="DONATION LIST" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AdminMapActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentTA_DA_Activity_New"
            android:label="Transportation Cost" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentTA_DA_Activity"
            android:label="Transportation Cost" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentTADAListActivity"
            android:label="Transportation Cost" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AdminTADAListActivity"
            android:label="TA/DA List" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.ActivityTADADetails"
            android:label="TADA" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AdminJobAcceptRejectActivity"
            android:label="JOB" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.DonationAcceptRejectActivity"
            android:label="Donation Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentDonationAcceptRejectResultActivity"
            android:label="Donation" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentTADAResultActivity"
            android:label="TADA" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentJobAcceptRejectResultActivity"
            android:label="Job Details" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AddIMEIActivity"
            android:label="Add IMEI" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.IndividualBookEditActivity"
            android:label="Book Update" >
        </activity>
        <activity
            android:name="com.bookstore.app.activity.AgentDonationListActivity"
            android:label="Donation List" >
        </activity>
        <activity android:name="com.bookstore.app.activity.AdminNoInterNetActivity" >
        </activity>

        <receiver
            android:name="com.bookstore.app.base.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.bookstore.app.activity" />
            </intent-filter>
        </receiver>

        <service android:name="com.bookstore.app.base.GcmIntentService" />
        <service
            android:name="com.bookstore.app.base.BookStoreService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.bookstore.app.base.InternetConnectionService"
            android:enabled="true" >
        </service>
    </application>

</manifest>